<div>
    <h1>Dashboard</h1>
</div>
<div class="row">
    <div class="col-lg-9 col-sm-12">
        <img src="@Url.Content("~/img/map.png")" usemap="#imgmap1" id="room1" />
        <map id="imgmap1" name="imgmap1">
            <area shape="rect" alt="" seat="1" title="" coords="148,17,181,82" href="#" target="" />
            <area shape="rect" alt="" seat="2" title="" coords="27,122,98,151" href="#" target="" />
            <area shape="rect" alt="" seat="3" title="" coords="14,442,94,471" href="#" target="" />
            <area shape="rect" alt="" seat="4" title="" coords="159,509,191,578" href="#" target="" />
            <area shape="rect" alt="" seat="5" title="" coords="617,493,649,560" href="#" target="" />
            <area shape="rect" alt="" seat="6" title="" coords="693,437,769,464" href="#" target="" />
            <area shape="rect" alt="" seat="7" title="" coords="681,128,752,156" href="#" target="" />
            <area shape="rect" alt="" seat="8" title="" coords="601,17,634,76" href="#" target="" />
            <area shape="rect" alt="" seat="9" title="" coords="234,174,306,200" href="#" target="" />
            <area shape="rect" alt="" seat="10" title="" coords="356,172,434,201" href="#" target="" />
            <area shape="rect" alt="" seat="11" title="" coords="490,174,566,200" href="#" target="" />
            <area shape="rect" alt="" seat="12" title="" coords="239,374,313,403" href="#" target="" />
            <area shape="rect" alt="" seat="13" title="" coords="371,376,449,403" href="#" target="" />
            <area shape="rect" alt="" seat="14" title="" coords="513,378,585,405" href="#" target="" />
        </map>
    </div>
    <div class="col-lg-3 col-sm-12">
        <div class="userList pre-scrollable">
            <ul>

                @{ 
                    foreach (var name in ViewBag.onlineList)
                    {
                        <li onclick="testing('@name')"><a href="#">@name</a></li>
                    }
                }
                @foreach (var name in @ViewBag.offlineList)
                {
                    <li class="offline" href="#">@name</li>
                }
               <li id="testId">bound to change</li>
            </ul>

            @*@foreach (var user in ViewBag.userList)
                    {
                        <li>@user</li>
                    }
                </ul>*@

        </div>
        @*<div class="container">
                    <h2 id="userName"></h2><br>
                    <h3 id="job"></h3><br>
                    <h3 id="status"></h3>
                </div>
            </div>*@

        <div class="col-lg-3 col-sm-12">
            <div class="roomInfoBox">
                <h3>Zaal info</h3>
                <p>
                    Gemiddelde warmte: 22 C<br />
                    
                </p>
                <p>Gemiddelde aantal decibel:</p>
            </div>
        </div>
        <script src="@Url.Content("~/js/mapControl.js")"></script>

    </div>
    <div>
        <button onclick="reserveSeat()" class="btn-info">Reserve</button>
    </div>
    <div>
        <h2 id="seatText"></h2>
    </div>
    <div class="seatToolTip">
        Seat Tooltip<br/>
        Use this to display seat info.
    </div>
<div id="TakenSeatsData" style="display: none">
    @ViewBag.takenSeats
</div>
    
    
</div>
<div class="container">
    <h2 id="userName"></h2></br>
    <p id="email"></p>
    <p id="rol"></p>
    <p id="seatId"></p>
</div>
<script src="@Url.Content("~/js/mapControl.js")"></script>
<script src="@Url.Content("~/js/userList.js")"></script>
<script>
        function testing(data) {
            var name = data;

            var rol = 'programmeur';
            var email = name.replace(/ /g, '') + "@@TamTam.nl";
            var seat;
            if (name == "Mark Hartgring") {
                seat = "3";
            } else if (name == "Matt Damon") {
                seat = "2";
            } else {
                seat = getRandomInt(1, 14);
            }

            document.getElementById('userName').innerHTML = name;
            document.getElementById('email').innerHTML = 'Email: ' + email;
            document.getElementById('rol').innerHTML = 'Job: ' + rol;
            document.getElementById('seatId').innerHTML = 'Zitplaats: ' + seat;

        }

        function getRandomInt(min, max) {
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }
</script>